/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

a {
	@apply text-gray-600 transition ease-in-out duration-150;
}

a:hover {
	@apply text-gray-800;
}

a:focus {
	@apply outline-none;
}

.page-enter-active,
.page-leave-active,
.layout-enter-active, 
.layout-leave-active {
  transition: opacity .5s
}

.page-enter,
.page-leave-active,
.layout-enter, 
.layout-leave-active {
  opacity: 0
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .4s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.row {
	@apply flex flex-wrap -ml-16 -mr-16;
}

.nuxt-content p {
  @apply mb-4; 
}

.nuxt-content h3 {
  @apply text-xl font-bold; 
}

.nuxt-content-highlight {
  position: relative;
}

.nuxt-content-highlight .filename {
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 10;
  font-size: .8rem;
  color: #fff;
  opacity: 0.6;
}

/*Hat-tip to bulma*/
.loader {
  color: transparent !important;
  pointer-events: none;
  position: relative;
}

.loader:after {
  animation: spinAround 500ms infinite linear;
  border:  2px solid #a0aec0;
  border-radius: 50%;
  border-right-color: transparent;
  /*border-top-color: transparent;*/
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  position: relative;
  position: absolute;
  left: calc(50% - (1em / 2));
  top: calc(50% - (1em / 2));
  position: absolute !important;
}
@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.ie {
  background-color: #347F95;
  color: #c2edf9;
}

.ie a {
  color: #c2edf9;
}

.lw {
  background: #ffdc11;
  color: #665e34;
}

.lw a {
  color: #665e34;
}

.nth {
  background: #4bd0c4;
  color: #05635a; 
}

.nth a {
  color: #05635a; 
}

.naris {
  background: #00c225;
  color: #066617; 
}

.naris a {
  color: #066617; 
}

.scl {
  background: #30babc;
  color: #a9f9f9; 
}

.scl a {
  color: #a9f9f9; 
}
/* purgecss end ignore */

